.header {
  // max-width: 1280px;
  height: 230px;
  // opacity: 0.9;
  // display: flex;
  padding-top: 40px;
  align-items: baseline;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile_bgr_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile_bgr_home@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    height: 216px;
    padding-top: 40px;
    align-items: baseline;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet_bgr_home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/tablet_bgr_home@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 216px;
    padding-top: 40px;
    align-items: baseline;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop_bgr_home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/desktop_bgr_home@2x.jpg);
    }
  }
}

.header .container {
  position: relative;
}

.header__lib-nav {
  display: flex;
  align-items: center;
}

.header__lib {
  display: flex;
  // opacity: 0.9;
  padding-top: 40px;
  align-items: baseline;
  height: 216px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile_bgr_library-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile_bgr_library@2x-min.jpg);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 40px;
    align-items: baseline;
    height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet_bgr_library-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/tablet_bgr_library@2x-min.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 40px;
    align-items: baseline;
    height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desctop_bgr_library-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/desctop_bgr_library@2x-min.jpg);
    }
  }
}

.logo {
  height: 35px;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  line-height: calc(35 / 30);

  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;

  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    scale: (1.1);
  }

  @media screen and (min-width: 768px) {
    align-items: baseline;
    padding: 0px;
  }
}

.icon-film {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  animation: animate360 3000ms cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.logo-text {
  margin-left: 10px;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

ul.nav {
  margin: 0 0 0 auto;
}

.navigation {
  height: 35px;
  display: flex;
  align-items: center;

  &__pages {
    margin-left: auto;
  }
}

.nav__item {
  &:not(:first-child) {
    margin-left: 20px;
  }

  height: 15px;

  color: #fff;

  cursor: pointer;
  font-size: 12px;
  line-height: calc(14 / 12);
  font-weight: 500;

  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    scale: (1.2);
  }
}

.nav__item a {
  text-align: center;

  color: #ffffff;
  position: relative;
}

.search__form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.search__input {
  background: transparent;
  outline: none;

  border: transparent;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  width: 270px;

  @media screen and (min-width: 768px) {
    width: 394px;
  }
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background-color: initial;
  border: transparent;
  color: #fff;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-search {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.2) rotate(90deg);
  }
}

//************************************

.storage {
  display: flex;
  // align-items: center;
  justify-content: center;

  padding-left: 0;
}

.storage__item:first-child {
  margin-right: 15px;
}

.storage__input {
  justify-content: center;
  align-items: center;
  // height: 42px;
  // width: 148px;
  color: #ffffff;
  background-color: transparent;

  border: 1px solid #ffffff;
  border-radius: 5px;

  text-transform: uppercase;

  font-size: 12px;
  line-height: calc(16 / 12);
}

.library__btn.active {
  background: #ff6b01;
  border: 1px solid #ff6b01;
}

.storage__btn {
  // box-sizing: border-box;
  display: block;

  padding-top: 14px;
  padding-bottom: 12px;

  min-width: 130px;

  text-align: center;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #fff;

  cursor: pointer;

  border: 1px solid #fff;
  border-radius: 5px;
}

.storage__input:checked ~ .storage__btn {
  background-color: #ff6b01;
  border: 1px solid #ff6b01;
  color: #ffffff;
}

.nav--item.login {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16667;
  position: relative;
  cursor: pointer;
}

.error-message {
  color: red;
}

.gba-active {
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #ff6b01;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

.nav.list {
  display: flex;
  align-items: center;
}
