.header {
  height: 216px;
  background-image: url(../images/header-bcg.jpg);

  // opacity: 0.9;

  padding-top: 40px;
  align-items: baseline;
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  line-height: calc(35 / 30);

  display: flex;
  // align-items: center;
  text-align: center;

  color: #ffffff;
}

.nav {
  margin-left: auto;
  // outline: 2px solid red;
  display: flex;
}

.nav--item {
  &:not(:first-child) {
    margin-left: 39px;
  }
  position: relative;
}

.nav--item a {
  font-size: 12px;
  line-height: calc(14 / 12);
  font-weight: 500;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  position: relative;
}

.search-form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.search-input {
  background: transparent;
  outline: none;

  border: transparent;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  width: 394px;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background-color: initial;
  border: transparent;
  color: #fff;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

//************************************

.storage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage__input {
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 148px;
  color: #ffffff;
  background-color: transparent;

  border: 1px solid #ffffff;
  border-radius: 5px;

  text-transform: uppercase;

  font-size: 12px;
  line-height: calc(16 / 12);
}

.library__btn.active {
  background: #ff6b01;
  border: 1px solid #ff6b01;
}

.storage__btn {
  display: block;

  border-radius: 5px;

  text-align: center;
}
