.modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal {
    background-color: white;
    width: 280px;
    position: relative;


    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: white;
        border: none;
    }

    &__body {
        padding: 48px 20px;
        display: flex;
        flex-direction: column;
    }

    &__details {
       margin-top: 20px;
    }

    &__film-info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .film-category {
        display: flex;
        &:not(:first-child) {
            margin-top: 8px;
        }
        &__title {
            width: 50%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #8C8C8C;
        }
        &__text {
            width: 50%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;  
        }
        &__vote-average {
            background: #FF6B01;
            border-radius: 5px;
            padding: 1px 10px;
            color: white;
        }
        &__vote-count {
            background: #F7F7F7;
            border-radius: 5px;
            padding: 1px 10px;
        }
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        text-transform: uppercase;
    }

    &__description-title {
        margin-top: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px; 
        text-transform: uppercase;             
    }

    &__description {
        margin-top: 8px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;         
    }

    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .action {
        &__watched {
            background: #FF6B01;
            border-radius: 5px;
            border: none;
            width: 110px;
            height: 44px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
            padding: 6px 27px;
        }
        &__queue {
            border: 1px solid #000000;
            border-radius: 5px;
            width: 110px;
            height: 44px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            background: #FFFFFF;
        }
    }

    &__img-wrapper {
        border-radius: 5px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
    }
}