.movie-card {
  width: 100%;
  border-radius: 5px;

  @include mobile {
    width: 280px;
  }

  @include tablet {
    width: 336px;
  }

  @include desktop {
    width: 395px;
  }

  transition: all 250ms linear;

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 1px rgba(70, 68, 70, 0.592);
    cursor: pointer;
  }
}

// .movie-img-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: 10px;

//   @include tablet {
//     margin-bottom: 8px;
//   }

//   @include desktop {
//     margin-bottom: 12px;
//   }
// }

.movie-card__img {
  display: block;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;

  @include mobile {
    height: 398px;
  }
  @include tablet {
    height: 455px;
    margin-bottom: 8px;
  }

  @include desktop {
    height: 574px;
    margin-bottom: 12px;
  }
}

.movie-card__title {
  color: #000000;
  padding-left: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  text-transform: uppercase;

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-card__box {
  display: flex;
  align-items: baseline;
  padding-left: 5px;

  @include tablet {
    padding-bottom: 10px;
  }

  @include desktop {
    padding-bottom: 10px;
  }
}

.movie-card__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ff6b08;

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.add-insert {
  font-size: 12px;

  @include desktop {
    font-size: 18px;
  }
}

.movie-card__vote {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  border: 1px solid #ff6b08;
  border-radius: 5px;
  background-color: #ff6b08;
  text-align: center;
  text-transform: uppercase;
  width: 36px;
  margin-left: 10px;
}
