.movies-popular-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  justify-items: center;
  margin-bottom: 40px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    margin-bottom: 60px;
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    margin-bottom: 60px;
  }
}

.movies-popular-container {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.load-more {
  width: 150px;

  padding: 10px;
  margin: 0 auto;
  display: block;

  color: var(--dark-body-theme);
  background: #f7f7f7;
  border: 0;
  border-radius: 5px;
  outline: 3px solid var(--accent-color);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 16px 3px #4b4d52;
  }

  @media screen and (max-width: 480px) {
    width: 100px;
    font-size: 0.8rem;
  }
}

.movies-popular-section {
  min-height: 400px;
}
