.movie {
  @media screen and (max-width: 767px) {
    overflow: auto;
    height: 100vh;
  }
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  padding: 50px 20px 40px;
  @media screen and (min-width: 768px) {
    padding: 40px;
    width: 705px;
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    padding: 40px 10px;
    width: 810px;
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__div {
    @media screen and (min-width: 768px) {
      width: 265px;
      height: 375px;
      margin-right: 60px;
    }
    @media screen and (min-width: 1280px) {
      width: 355px;
      height: 480px;
      margin-right: 15px;
    }
  }
}
.description {
  @media screen and (min-width: 768px) {
    width: 265px;
  }
  @media screen and (min-width: 1280px) {
    width: 390px;
  }
}

.description__title {
  margin-bottom: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 23px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 35px;
  }

  color: #000000;
}

.description__about {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;

  &__title {
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
  }
}

.description__info {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.description__info__titles {
  display: inline-block;
  width: 110px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.queue {
  width: 110px;
  @media screen and (min-width: 767px) {
    width: 125px;
  }
  @media screen and (min-width: 1280px) {
    width: 135px;
  }
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 6px 27px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  display: block;
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 500ms;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &.in-library {
    background-color: #b8b5b3;
    color: #fff;
  }
}

.watched {
  color: #fff;
  background-color: #ff6b01;
  border: 1px solid #ff6b01;

  width: 110px;
  @media screen and (min-width: 767px) {
    width: 125px;
  }
  @media screen and (min-width: 1280px) {
    width: 135px;
  }
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 6px 27px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  display: block;
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 500ms;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &.in-library {
    background-color: #b8b5b3;
    color: #fff;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    justify-content: space-evenly;
  }
}
.description__list {
  margin-bottom: 20px;
  display: block;
}
.orangebackend {
  border-radius: 5px;
  background-color: #ff6b01;
  padding: 0 10px;
  color: #fff;
}
.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 500ms;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
