<div class='modal-login'>
  {{!-- <img src='../images/login.png' alt='login image' /> --}}
  <p class='modal-login__login'>Registration</p>
  <p class='modal-login__welcome'>Create your new account</p>
  <form class='login-form'>
    <label for='email'>Email</label>
    <input
      type='email'
      placeholder='example@mail.com'
      class='login-form__input'
      id='email'
    />
    <label for='password'>Password</label>
    <input
      type='password'
      placeholder='At least 8 characters'
      class='login-form__input'
      id='password'
    />
    <label for='password2'>Check password</label>
    <input
      type='password'
      placeholder='Type password again'
      class='login-form__input'
      checkPwd='checkPwd'
      id='password2'
    />
    <p class='error-message'></p>
    <button type='submit' class='login-form__button'>Register Account</button>

  </form>
</div>