.scroll-up {
    display: none;

    &__button {
        display: none;
    }

    z-index: 20;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    width: 1000px;

    &__button {
        z-index: 5;
        position: absolute;
        display: block;
        right: 370px;
        bottom: 55px;
        min-width: 29px;
        min-height: 29px;
        padding: 5px;
        border-radius: 50%;

        @media screen and (min-width: 768px) {
            bottom: 40px;
            right: 110px;
            min-width: 34px;
            min-height: 34px;
        }

        @media screen and (min-width: 1280px) {

            bottom: 40px;
            right: -160px;
            min-width: 39px;
            min-height: 39px;
        }

        animation-iteration-count: infinite;
        animation-duration: 2500ms;
        animation-name: blink;

        background: #ff6b01;
        font-weight: 400;

        line-height: 1.2;
        border: none;

        cursor: pointer;

        transition: transform .25s cubic-bezier(.4, 0, .2, 1);
        transform: scale(1);

        &:hover {
            box-shadow: -2px 0 16px 5px rgba(255, 0, 0, 0.315);
            -webkit-animation: pulsate-bck .7s ease-in-out infinite both;
            animation: pulsate-bck .7s ease-in-out infinite both;
        }
    }


}


.scroll-up__icon {
    position: absolute;
    top: 5px;
    left: 7px;
}

.scroll-up__svg {
    fill: white;
    opacity: 0.9;

    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
    }

    @media screen and (min-width: 1280px) {
        width: 25px;
        height: 25px;
    }
}