.scroll-up {
    display: none;

}

.scroll-up__button {
    position: fixed;
    display: inline-block;

    min-width: 29px;
    min-height: 29px;

    top: 84%;
    left: 82%;
    z-index: 5;
    cursor: pointer;
    text-align: center;
    opacity: 1;
    border-radius: 50%;
    background: #ff6b01;

    transition: transform .25s cubic-bezier(.4, 0, .2, 1);


    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 16px 3px #4b4d52;
    }

    @media screen and(min-width: 768px) {
        top: 86%;
        left: 91%;
        min-width: 34px;
        min-height: 34px;
    }

    @media screen and(min-width: 1280px) {
        top: 85%;
        left: 94%;
        min-width: 39px;
        min-height: 39px;
    }
}


.scroll-up__icon {
    position: absolute;
    top: 5px;
    left: 7px;
}

.scroll-up__svg {
    fill: white;
    opacity: 0.9;

    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
    }

    @media screen and (min-width: 1280px) {
        width: 25px;
        height: 25px;
    }
}