:root {
  --main-background-color: #212121;
  --background-overlay: #0b0b0b80;
  --main-title-color: ##ff6b01;
  --footer-text-color: #545454;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-btn-color: rgb(36, 10, 128);
  --inv-btn-main-color: rgb(63, 63, 63);
  --animation-duration: 250ms;
  --transition-bg-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --accent-color: #013cff00;
  --accent-link: #ecdf1fd5;
  --icons-color: rgb(36, 10, 128);
  --accent-link-footer: rgba(255, 255, 255, 0.1);
  --transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --section-filter-link-tablet-set: 2;
  --section-filter-link-tablet-gap: 30px;
  --section-filter-link-desktop-set: 6;
  --section-filter-link-desktop-gap: 30px;
}



.team-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);

}


.team-modal.is-open {
  opacity: 1;
  pointer-events: initial;
}

.team-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(14, 62, 151, 0.8);
  backdrop-filter: blur(3px);
  transition: opacity var(--animation-duration) var(--timing-function);
}

.team-modal-content {
  position: relative;
  top: -1px;
  display: flex;
  width: 80vw;
  height: 100vh;
  overflow-x: hidden;
  min-width: 295px;

  @media screen and (min-width: 320px) {

    max-width: 400px;
  }

  @media screen and (min-width: 768px) {
    max-width: 750px;
    height: 93vh;

  }

  @media screen and (min-width: 1280px) {
    max-width: 1500px;
    width: 1260px;
    height: 89vh;
    overflow-y: hidden
  }

  background-color: var(--main-background-color);
  border-radius: 10;

  transform: scale(1);
  transition: transform 1000ms var(--timing-function);
  box-shadow: 2px 4px 12px 0px #cfe414,
  0px 2px 5px 0px rgba(255, 255, 255, 0.507),
  0px 2px 3px -1px rgba(255, 255, 255, 0.137);
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}

.team-modal-content-box {
  position: absolute;
  top: 54px;
  left: 40px;
  right: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--section-filter-link-tablet-gap));
    margin-bottom: -30px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: calc(-1 * var(--section-filter-link-desktop-gap));
    top: 50px;
  }
}

.team-modal.is-open .team-img-card {
  transform: scale(0.6);
}

.team-img-card {
  height: 49vh;
  margin-bottom: 30px;
  transform: scale(2);
  transition: transform 1000ms var(--timing-function);
  box-shadow: 2px 4px 12px 0px #cfe414,
    0px 2px 5px 0px rgba(255, 255, 255, 0.507),
    0px 2px 3px -1px rgba(255, 255, 255, 0.137);

  @media screen and (min-width: 768px) {
    height: 52vh;
  }

  @media screen and (min-width: 1280px) {
    height: 37vh;
  }

  border-radius: 10px 10px 5px 5px;
  background-color: var(--accent-color);


  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / var(--section-filter-link-tablet-set) - var(--section-filter-link-tablet-gap));
    margin-left: var(--section-filter-link-tablet-gap);
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc(100% / var(--section-filter-link-desktop-set) - var(--section-filter-link-desktop-gap));
    margin-left: var(--section-filter-link-desktop-gap);
  }
}

.img-container {
  display: flex;
  width: auto;
  height: 38vh;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 768px) {
    height: 41vh;
  }

  @media screen and (min-width: 1280px) {

    height: 29vh;
  }
}

.img-container>img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team-card-box {
  border-top: none;
  padding: 5px 5px 5px 5px;
  text-align: center;

  @media screen and (min-width: 1280px) {
    padding: 5px 5px;
  }

}

.team-card-text {
  color: rgb(3, 2, 10);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.06em;
  margin-bottom: 7px;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.team-close-btn {
  position: absolute;
  right: 20px;
  top: 35px;
  width: 26px;
  height: 26px;
  background: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
  transition: opacity var(--animation-duration);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.material-icons.team-closer {
  position: absolute;
  top: -19.5px;
  left: 6px;

  @media screen and (min-width: 768px) {
    top: -16px;
    left: 5.5px;
  }

  @media screen and (min-width: 1280px) {
    top: -18px;
    left: 6px;
  }

  fill: var(--icons-color);

  &:hover,
  &:focus {
    fill: rgb(45, 64, 177);
    transform: scale(1.1);
  }
}

.team-svg-closer {
  @media screen and (min-width: 768px) {
    width: 13px;
    height: 13px;
  }
}

.social-network {
  display: inline-flex;
}

.social-network__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;


  @media screen and (min-width: 1280px) {
    width: 27px;
    height: 27px;
  }

  transition: var(--transition-bg-color);



  &--change {
    background: var(--accent-link-footer);
    transition: var(--transition-bg-color);
  }
}

.social-network__icon {
  fill: var(--icons-color);
  transition: var(--transition-fill);
  width: 22px;
  height: 22px;

  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }


  .social-network__link:hover &,
  .social-network__link:focus & {
    fill: yellow;

  }

  &--change {
    fill: var(--main-btn-color);
  }

}

.slide-team.card-1 {
  -webkit-animation: slide-team 2000ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 2000ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-2 {
  -webkit-animation: slide-team 200ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 200ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-3 {
  -webkit-animation: slide-team 1200ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 1200ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-4 {
  -webkit-animation: slide-team 1100ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 1100ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-5 {
  -webkit-animation: slide-team 1200ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 1200ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-6 {
  -webkit-animation: slide-team 400ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 400ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-7 {
  -webkit-animation: slide-team 1600ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 1600ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-8 {
  -webkit-animation: slide-team 1600ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 1600ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-9 {
  -webkit-animation: slide-team 2400ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 2400ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-10 {
  -webkit-animation: slide-team 2000ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 2000ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-11 {
  -webkit-animation: slide-team 2000ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 2000ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-team.card-12 {
  -webkit-animation: slide-team 2000ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-team 2000ms cubic-bezier(0.23, 1, 0.32, 1) both;
}





@-webkit-keyframes slide-team {
  0% {
    -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-team {
  0% {
    -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.students-team {
  cursor: pointer;
}

.team-active:hover {
  color: var(--main-title-color);
}


.team-modal-content {
  background: linear-gradient(0deg, rgba(34, 49, 195, 1) 0%, rgba(253, 245, 45, 0.9150035014005602) 100%);
}






