<header class="header">
  <div class="container">
    <a class="logo" href="./index.html">Filmoteka</a>

    <form class="search-form">
      <input placeholder="Movie search" id="search-form" class="search-input" />

      <button type="submit" class="search-btn">
        +
      </button>
    </form>

    <ul class="nav list">

      <li class="nav--item "><a class="current" href="./index.html">Home</a></li>

      <li class="nav--item"><a href="./library.html">My Library</a></li>
    </ul>
  </div>
</header>