<header class="header">
  <div class="container">
    <a class="logo" href="./index.html">Filmoteka</a>

    <form class="search__form">
      <input placeholder="Movie search" id="search-form" class="search__input" />


      <button type="submit" class="search__btn">
        search
      </button>
    </form>

    <ul class="nav list">

      <li class="nav__item "><a class="current" href="./index.html">Home</a></li>

      <li class="nav__item"><a href="./library.html">My Library</a></li>
      <li class="nav--item login" id="login">Login</li>
      <li class="nav--item login" id="registration">Registration</li>

    </ul>
  </div>
</header>