<div class="team-modal">
   <div div class="team-modal-overlay"></div>
  <div class="team-modal-content">
    <div class="team-modal-content-box">
      <div class="team-img-card card-1">
      <div class="img-container">
        <img src="/src/images/dev.jpg" alt="1" />
      </div>
      <div class="team-card-box">
      <h3  class="team-card-text">max</h3>
      <p class="team-card-work_text">Frontend Developer</p>
          <ul class="social-network list">
            <li class="social-network__item">
              <a href="https://github.com/LITOHA-77" class="social-network__link" aria-label="Фейсбук" target="_blank" rel="noopener noreferrer">
                <svg class="social-network__icon" width="30" height="30">
                  <use href="./images/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="social-network__item">
              <a href="" class="social-network__link" aria-label="Линкедин" target="_blank" rel="noopener noreferrer">
                <svg class="social-network__icon" width="30" height="30">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          </div>
          </div>
       <div class="team-img-card card-2">
            <div class="img-container">
              <img src="/src/images/dev.jpg" alt="2" />
            </div>
            <div class="team-card-box">
              <h3 class="team-card-text">max</h3>
              <p class="team-card-work_text">Frontend Developer</p>
              <ul class="social-network list">
                <li class="social-network__item">
                  <a href="https://github.com/LITOHA-77" class="social-network__link" aria-label="Фейсбук" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-network__item">
                  <a href="" class="social-network__link" aria-label="Линкедин" target="_blank" rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        <div class="team-img-card card-3">
            <div class="img-container">
              <img src="/src/images/dev.jpg" alt="3" />
            </div>
            <div class="team-card-box">
              <h3 class="team-card-text">max</h3>
              <p class="team-card-work_text">Frontend Developer</p>
              <ul class="social-network list">
                <li class="social-network__item">
                  <a href="https://github.com/LITOHA-77" class="social-network__link" aria-label="Фейсбук" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-network__item">
                  <a href="" class="social-network__link" aria-label="Линкедин" target="_blank" rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
       <div class="team-img-card card-4">
            <div class="img-container">
              <img src="/src/images/dev.jpg" alt="4" />
            </div>
            <div class="team-card-box">
              <h3 class="team-card-text">max</h3>
              <p class="team-card-work_text">Frontend Developer</p>
              <ul class="social-network list">
                <li class="social-network__item">
                  <a href="https://github.com/LITOHA-77" class="social-network__link" aria-label="Фейсбук" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-network__item">
                  <a href="" class="social-network__link" aria-label="Линкедин" target="_blank" rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
       <div class="team-img-card card-5">
            <div class="img-container">
              <img src="/src/images/dev.jpg" alt="5" />
            </div>
            <div class="team-card-box">
              <h3 class="team-card-text">max</h3>
              <p class="team-card-work_text">Frontend Developer</p>
              <ul class="social-network list">
                <li class="social-network__item">
                  <a href="https://github.com/LITOHA-77" class="social-network__link" aria-label="Фейсбук" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-network__item">
                  <a href="" class="social-network__link" aria-label="Линкедин" target="_blank" rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      <div class="team-img-card card-6">
            <div class="img-container">
              <img src="/src/images/dev.jpg" alt="6" />
            </div>
            <div class="team-card-box">
              <h3 class="team-card-text">max</h3>
              <p class="team-card-work_text">Frontend Developer</p>
              <ul class="social-network list">
                <li class="social-network__item">
                  <a href="https://github.com/LITOHA-77" class="social-network__link" aria-label="Фейсбук" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-network__item">
                  <a href="" class="social-network__link" aria-label="Линкедин" target="_blank" rel="noopener noreferrer">
                    <svg class="social-network__icon" width="30" height="30">
                      <use href="./images/icons.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
     </div>
  <button type="button" class="team-close-btn">
    <span class="material-icons team-closer"><svg width="15" height="15">
        <use href="./images/icons.svg#close"></use>
      </svg></span>
  </button>
  </div> 
</div>
