{{#each this}}
  <li class='gallery_item'>
    <a class='gallery_link' href=''>
      <div class='wrapper_card'>
        <div class='wrapper_img'>
          <img class='gallery_img' src='{{results.backdrop_path}}' alt='' />
        </div>
        <div class='wrapper_data'>
          <h2 class='gallery_name'></h2>
          <p class='gallery_genre'>{{results.genre_ids}}</p>
          <p class='gallery_year'></p>
        </div>
      </div>
    </a>
  </li>
{{/each}}